*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #D7D8F1;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
ul{
  list-style: none;
}

ul a, a{
  text-decoration: none;
  color: #D7D8F1;
}
a:hover{
  text-decoration: none;
}

.chat-container{
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}
.channelList{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #3B3E99;
  color: #D7D8F1;
  font-weight: 600;
  height: 96vh;

}
.main{
  display: flex;
  flex-grow: 10;
  background: #E6EAEA;
  height: 96vh;
}

.user {
  display: flex;
  height: 80px;    
  width: 100%;
  padding-left: 25px;
  padding-top: 25px;
  line-height: 65px;
}
.user .img-container{
  width: 70px;
  height: 70px;
  border: 2px solid #2ECC71;
  border-radius: 50%;
  margin-left: 5px;
}
.user .img-container img{
  width: 60px;
  height: 60px; 
  border-radius: 50%; 
  padding-left: 5px;
}
.user p{
  padding-left: 10px;
  font-weight: bold;
  color: #D7D8F1;
}

.channels{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: inherit;
  height: 440px;
  padding-left: 25px;
  margin-top: 25px;  
  overflow-y: scroll;

  
}
.channel{
  display: flex;
  height: 60px;
  justify-content: flex-start;
  line-height: 50px;
}
.acronyms{
  width: 50px;
  height: 50px;
  background: #000;
  color: #D7D8F1;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 25px;
  text-align: center;
}

.bottom-buttons{
  height: 60px;
  background: #000;
  color: #fff;
  display: flex;
  /* width: inherit;
  position: absolute;
  bottom: 0; */
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .bottom-buttons{
      height: 60px;
      background: #000;
      color: #fff;
      display: flex;
      /* width: 40%; */
      position: absolute;
      bottom: 0;
  }
}
.bottom-buttons a{
 flex: 50%;
 padding: 15px;
 padding-top: 20px;
 text-align: center;
 background: #2d2f72;
  color: #fff;
  border-right: 1px solid #7a7cbd;
}
.title-bar{
  display: flex;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  line-height: 60px;
  padding-left: 25px;
  margin-bottom: 10px;
}
.chatbox{
  display: flex;
  flex-direction: column;
  flex: 7
}
.messages{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
 
  height: 95%;
  overflow-y: scroll;
  /* line-height: ; */
}
.conversation{
  display: flex;
  flex-direction: column;
  flex: 4;   
  border-left: 1px solid #d1d0d0;
  /* display: none; */
}
.replies{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.sent{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}
.replies img, .sent img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 25px;
}
.sent img{

  margin: 0 10px;
}
.sent p, .replies p{
  padding: 10px 15px;
  max-width: 300px;
  word-wrap: break-word;
  border-radius: 20px;
  background: #f5f5f5;
  color: #32465A;
  margin-left: 10px;
  height: auto;
}
.sent div{
  margin-left: 15px;
}
.replies div{
  margin-left: 15px;
}

.replies p{
  background: #989AD7;
  color: #F3F3F4;
}
.post{
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 30px;
 
}
.input-msg{
  width: 100%;
  height: 50px;
  padding: 15px 25px;
  color: #32465A;
  font-size: 14px;  
  border: none;
}
.channel-title{
  color: #32465A;
}
.post-msg{
  background: #3B3E99;
  padding: 15px 25px; 
  color: #D7D8F1;
  border: none;
  

}
input:focus{
  outline: none;
}
.conversation-title{
  display: flex;
  width: 100%;
  height: 60px;
  background: #f5f5f5;  
  padding-top: 10px;
  padding-left: 25px;
  margin-bottom: 10px;
}
.thread-title{
  display: flex;
  flex: 11;
  flex-direction: column;
  height: 60px;
}
.close-conversation{
  flex: 1;
}
.conversations{
  display: flex;
  width: 100%;
  padding: 10px ;
}
.conversations img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.conversation-msg{
  margin-left: 10px;
}
.conversation-msg p{
  max-width: 250px;

}
.num-replies{
  flex: 3;
}
.underline{

  flex: 9;
  height: 1px;
  background: #979696;
  margin-top: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}  

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);; 
  border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #3B3E99;
}
.picked-emoji{
  font-size: 20px;
}
